@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Iso&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://as2.ftcdn.net/v2/jpg/03/81/86/29/1000_F_381862991_e7LoEZAdjygCv90zQUXgrOjsWiUUrc4M.jpg);
}

.content {
  background: rgb(214, 211, 209);
  background: linear-gradient(346deg, rgba(214, 211, 209, 0.9655748041404062) 38%, rgba(37, 99, 235, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  font-size: 5rem;
  color: white;
  font-family: "Abril Fatface", sans-serif;
}

.search-bar {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 1em;
  font-family: "Lora", sans-serif;
}

.search-bar>input {
  width: 100%;
  height: 2vh;
  font-size: 1.1rem;
}

.country-name {
  font-size: 4rem;
  font-family: "Lora", sans-serif;
}

.info,
.lang-info {
  font-size: 1.3rem;
  font-family: "Lora", sans-serif;
}

.info::before {
  content: "►";
  color: white;
  padding-right: 0.3em;
}

.lang-info::before {
  content: "•";
  font-weight: 700;
  padding-right: 0.3em;
}

.flag {
  font-size: 10rem;
}

.listed-country {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

span {
  padding-right: 0.2em;
}

.show-btn {
  border: none;
  margin-left: 0.3em;
  color: #1e40af;
  font-weight: 600;
  transition: all 0.3s;
}

.show-btn:hover {
  background-color: #1e40af;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
}

h2 {
  font-size: 2rem;
  font-family: "Lora", sans-serif;
}

#open-weather {
  transition: all 2s;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #1e3a8a;
  font-size: 1.2em;
  background: transparent;
  box-shadow: 2px 3px 3px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 3px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 3px 6px rgba(0, 0, 0, 0.75);
}

#open-weather:hover {
  cursor: pointer;
  background: rgb(2, 6, 23);
  background: linear-gradient(307deg, rgba(2, 6, 23, 1) 0%, rgba(14, 109, 233, 0.9711770450367647) 74%);
  color: white;
  font-weight: 900;
}

.weather-container {
  padding: 1em;
  margin: 1em;
  display: flex;
  width: 80%;
  border-radius: 5px;
  background: rgb(2, 6, 23);
  background: linear-gradient(307deg, rgba(2, 6, 23, 1) 0%, rgba(14, 109, 233, 0.9711770450367647) 74%);
  box-shadow: 0px 4px 5px 5px rgba(14, 20, 91, 0.75) inset;
  -webkit-box-shadow: 0px 4px 5px 5px rgba(14, 20, 91, 0.75) inset;
  -moz-box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.75) inset;
  color: white;
}


.capital-name {
  width: 25%;
  font-family: "Abril Fatface", sans-serif;
  margin-right: 1em;
  font-size: 2.5rem;
  color: black;
  align-self: center;
}

.capital-info {
  font-size: 1.2rem;
  margin-right: 1em;
}

.weather-icon {
  width: 70%;
}

.hide-weather-btn {
  border: none;
  border-radius: 5px;
  align-self: self-end;
  font-family: "Roboto Slab", sans-serif;
  color: #1e40af;
  transition: all 0.2s;
  border: 2px solid white;
  font-weight: 900;
}

.hide-weather-btn:hover {
  background-color: #1e40af;
  color: white;
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #383636;
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-container>p {
  font-size: 1.2em;
  font-family: "Lora", sans-serif;
}